/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100;
/*	border: 1px solid grey !important;*/
	text-align: center;
}

nav {
	display:inline-block;
	/* background:lightskyblue; */
	width: 100%;
	padding: 25px;
}

nav >a:hover {
	background-color: white;
  	color: black;
}

nav a {
	margin: 0 10px;
	border: 1px solid lightgray;
	padding: 20px;
	display: inline-block;
	border-radius: 20px;
	color: blue;
	text-decoration: none;
	margin-bottom: 20px;
	background-color: silver;
	border-radius: 8px;
}

.logo {
	padding-left: 25%; 
}

.title {
	display: inline-block;
	width: 49.5%;
	vertical-align: middle
}

.title h1 {
	font-size: 75px;
	padding: 10% 25% 10% 25%;
	margin: 6%;
}

/* .botton-click {this is for the start botton} */

#secondimg {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10%;
}
/*Top content starts here*/
.top-content {
	display: inline-block;
}

#Features {
	vertical-align: middle;
	width: 25%;
	margin: 10%;
	display: inline-block;
}

#About {
	display: inline-block;
	width: 25%;
	margin: 4%;
	vertical-align: middle;
}

/*third img should go under here*/
#middle-img {
	/* display: inline-block; I THINK THIS IS NOT NECESSARY */
	/* max-width: 100%; I DONT WHY, THIS I NOT WORKING */
}
/*bottom content start here*/
.bottom-content {
	display: inline-block;
}
#Services {
	display: inline-block;
	width: 25%;
	margin: 4%;
	vertical-align: middle;
	background: yellow;
}

#Product {
	display: inline-block;
	width: 25%;
	margin: 4%;
	vertical-align: middle;
}

#Vision {
	display: inline-block;
	width: 25%;
	margin: 4%;
	vertical-align: middle;
}
/*footer starts here*/
footer {
	background: lightskyblue;
	color: lightslategray;
}

